:root{
    --font-h1:4rem;
    --font-h2:3.6rem;
    --font-h3:3rem;
    --font-h4:2.5rem;
    --font-h5:2rem;
    --font-h6:1.25rem;
    --bg-1:#B8B8B8;
    --bg-2:#E2E6E9;
    --bg-3:#F2F2F2;
    --bg-4:#FAFAFA;
    --bg-5:#1E1B1B;
    --txt-white:#FFFFFF;
    --txt-blk:#1E1B1B;
    --txt-grey:##939191;
}